In [11]:
import pandas as pd
import pynbody as pyn
import matplotlib.pyplot as plt
import numpy as np
from scipy.optimize import curve_fit
from scipy import optimize
from astropy import units as unit
import sys
import os 
from tabulate import tabulate

In [2]:
df = pd.DataFrame()

In [ ]:
nombres = ['Juan', 'Laura', 'Pepe']
edades = [42, 40, 37]

df['Nombre'] = nombres
df['Edad'] = edades

print(df)

In [3]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",

                         "bar", "bar", "bar", "bar"],

                   "B": ["one", "one", "one", "two", "two",

                         "one", "one", "two", "two"],

                   "C": ["small", "large", "large", "small",

                         "small", "large", "small", "small",

                         "large"],

                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],

                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [4]:
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [5]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],

                    columns=['C'], aggfunc=np.sum)

In [8]:
from pandas import Series
dict_series = {'uno' : Series(['a', 'b', 'b', 'a'], index=['ind1', 'ind2', 'ind3', 'ind4']),
               'dos' : Series([1, 1, 2, 2], index=['ind1', 'ind2', 'ind3', 'ind4'])}
df = pd.DataFrame(dict_series)
df.groupby('uno').groups
{'a': ['ind1', 'ind4'], 'b': ['ind2', 'ind3']}

{'a': ['ind1', 'ind4'], 'b': ['ind2', 'ind3']}

In [6]:
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [12]:
data_nuevo = '/media/danna01/Disk/SNAPSHOTS/Galaxias_Nuevas'
data_viejo = '/media/danna01/Disk/SNAPSHOTS/Galaxias_Viejas'
minsnap = 100
maxsnap = 300
stepsnap = 200
for gal in ['G0','G1','G2','G3']:
    if gal in ['G0','G1']:
        for snap in np.arange(minsnap,maxsnap,stepsnap): 
            snap = str(snap).zfill(3)
            data_new = pyn.load(data_nuevo +'/'+gal+'/snapshot_'+snap+'.hdf5')
            data_old = pyn.load(data_viejo +'/'+gal+'/snapshot_'+snap+'.hdf5')
    if gal in ['G2','G3']:
        for snap in np.arange(minsnap,maxsnap,stepsnap): 
            snap = str(snap).zfill(3)
            data_new = pyn.load(data_nuevo +'/'+gal+'/snapshot_'+snap+'.hdf5')

In [13]:

masa_barionica_total_new = data_new.star['mass'].sum() + data_new.gas['mass'].sum()
masa_total_new = data_new.star['mass'].sum() + data_new.gas['mass'].sum() +  data_new.dm['mass'].sum()
masa_barionica_total_old = data_old.star['mass'].sum() + data_old.gas['mass'].sum()
masa_total_old = data_old.star['mass'].sum() + data_old.gas['mass'].sum() +  data_old.dm['mass'].sum()

In [16]:
masa_total_new

SimArray(116.65092, dtype=float32, '1.00e+10 Msol')

In [11]:
data = pd.DataFrame({"Galaxies": ["G0", "G1", "G2", "G3"],
                     
                     "Caracteristica": ['Masa Total','Masa Barionica','Masa del Gas'],

                     "Fuente": {'Masa Total': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"], 
                                'Masa Barionica': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"], 
                                'Masa del Gas': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"]},

                   "Valores": {'G0': ['5.1 $\cdot 10^{10}$',masa_total_new,masa_total_old, '$1.6 \cdot 10^{9}$',masa_barionica_total_new,masa_barionica_total_old,'6.08 $\cdot 10^{8}$', data_new.gas['mass'].sum(), data_old.gas['mass'].sum()],
                               'G1': ['$2 \cdot 10^{11}$ ',masa_total_new,masa_total_old,'$7 \cdot 10^{9}$',masa_barionica_total_new,masa_barionica_total_old, ' 2.03 $\cdot 10^{9}$ ',data_new.gas['mass'].sum(), data_old.gas['mass'].sum()],
                               'G2': ['5.1 $\cdot 10^{11}$',masa_total_new,'NaN','$1.98 \cdot 10^{10}$',masa_barionica_total_new,'NaN','4.55 $\cdot 10^{9}$',data_new.gas['mass'].sum(), 'NaN'],
                               'G3': ['1.16 $\cdot 10^{12}$',masa_total_new,'NaN','$6.22 \cdot 10^{10}$',masa_barionica_total_new,'NaN','1.24 $\cdot 10^{10}$',data_new.gas['mass'].sum(), 'NaN']}
                    })

ValueError: arrays must all be same length

In [ ]:
data = pd.DataFrame({"Galaxies": ["G0", "G1", "G2", "G3"],
                     
                     "Caracteristica": ['Masa Total','Masa Barionica','Masa del Gas'],

                     "Fuente": {'Masa Total': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"], 
                                'Masa Barionica': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"], 
                                'Masa del Gas': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"]},

                   "Valores": {'G0': ['5.1 $\cdot 10^{10}$',masa_total_new,masa_total_old, '$1.6 \cdot 10^{9}$',masa_barionica_total_new,masa_barionica_total_old,'6.08 $\cdot 10^{8}$', data_new.gas['mass'].sum(), data_old.gas['mass'].sum()],
                               'G1': ['$2 \cdot 10^{11}$ ',masa_total_new,masa_total_old,'$7 \cdot 10^{9}$',masa_barionica_total_new,masa_barionica_total_old, ' 2.03 $\cdot 10^{9}$ ',data_new.gas['mass'].sum(), data_old.gas['mass'].sum()],
                               'G2': ['5.1 $\cdot 10^{11}$',masa_total_new,'NaN','$1.98 \cdot 10^{10}$',masa_barionica_total_new,'NaN','4.55 $\cdot 10^{9}$',data_new.gas['mass'].sum(), 'NaN'],
                               'G3': ['1.16 $\cdot 10^{12}$',masa_total_new,'NaN','$6.22 \cdot 10^{10}$',masa_barionica_total_new,'NaN','1.24 $\cdot 10^{10}$',data_new.gas['mass'].sum(), 'NaN']}
                    })

In [9]:
from docx import Document
from docx.shared import Inches

document = Document()

contenidos = [
    [ "Contenido de la primera fila" ],
    [ "Contenido de la", "segunda fila" ],
    [ "Contenido de la tercera fila" ],
    [ "Contenido de la", "cuarta fila" ]
]

ModuleNotFoundError: No module named 'docx'

In [ ]:

table = document.add_table(rows=0, cols=2)
for fila in contenidos:
    row_cells = table.add_row().cells
    row_cells[0].text = fila[0]
    if len(fila) == 1:
        row_cells[0].merge(row_cells[1])
    else:
        row_cells[1].text = fila[1]

document.add_page_break()
document.save('demo.docx')

In [47]:
data_newg0 = pyn.load(data_nuevo +'/G0/snapshot_100.hdf5')
data_oldg0 = pyn.load(data_viejo +'/G0/snapshot_100.hdf5')
data_newg1 = pyn.load(data_nuevo +'/G1/snapshot_100.hdf5')
data_oldg1 = pyn.load(data_viejo +'/G1/snapshot_100.hdf5')
data_newg2 = pyn.load(data_nuevo +'/G2/snapshot_100.hdf5')
data_newg3 = pyn.load(data_nuevo +'/G3/snapshot_100.hdf5')

In [48]:
masa_barionica_total_newg0 = data_newg0.star['mass'].sum() + data_newg0.gas['mass'].sum()
masa_total_newg0 = data_newg0.star['mass'].sum() + data_newg0.gas['mass'].sum() +  data_newg0.dm['mass'].sum()
masa_barionica_total_oldg0 = data_oldg0.star['mass'].sum() + data_oldg0.gas['mass'].sum()
masa_total_oldg0 = data_oldg0.star['mass'].sum() + data_oldg0.gas['mass'].sum() +  data_oldg0.dm['mass'].sum()

masa_barionica_total_newg1 = data_newg1.star['mass'].sum() + data_newg1.gas['mass'].sum()
masa_total_newg1 = data_newg1.star['mass'].sum() + data_newg1.gas['mass'].sum() +  data_newg1.dm['mass'].sum()
masa_barionica_total_oldg1 = data_oldg1.star['mass'].sum() + data_oldg1.gas['mass'].sum()
masa_total_oldg1 = data_oldg1.star['mass'].sum() + data_oldg1.gas['mass'].sum() +  data_oldg1.dm['mass'].sum()

masa_barionica_total_newg2 = data_newg2.star['mass'].sum() + data_newg2.gas['mass'].sum()
masa_total_newg2 = data_newg2.star['mass'].sum() + data_newg2.gas['mass'].sum() +  data_newg2.dm['mass'].sum()

masa_barionica_total_newg3 = data_newg3.star['mass'].sum() + data_newg3.gas['mass'].sum()
masa_total_newg3 = data_newg3.star['mass'].sum() + data_newg3.gas['mass'].sum() +  data_newg3.dm['mass'].sum()

In [53]:
data = pd.DataFrame({"Galaxies": [" ","G0", "G1", "G2", "G3"],
                     
                     '': ['Paper','5.1','20','51','116'],
                     
                     'Masa Total [$1x10^{10}$ $M_\odot$]': ['Simulacion Nueva',masa_total_newg0,masa_total_newg1,
                                                            masa_total_newg2,masa_total_newg3],
                     
                     ' ': ['Simulacion Vieja',masa_total_oldg0,masa_total_oldg1,'',''],
                     
                     '  ': ['Paper','0.16','0.7','1.98','6.22'],
                     
                     'Masa Barionica [$1x10^{10}$ $M_\odot$]': ['Simulacion Nueva',masa_barionica_total_newg0,
                                                                masa_barionica_total_newg1,masa_barionica_total_newg2,
                                                                masa_barionica_total_newg3],
                     
                     '   ': ['Simulacion Vieja',masa_barionica_total_oldg0,masa_barionica_total_oldg1,'',''],
                     
                     '    ': ['Paper','0.06','0.2','0.45','1.24'],
                     
                     'Masa Gas [$1x10^{10}$ $M_\odot$]': ['Simulacion Nueva',data_newg0.gas['mass'].sum(),
                                                          data_newg1.gas['mass'].sum(),data_newg2.gas['mass'].sum(),
                                                          data_newg3.gas['mass'].sum()],
                     
                     '     ': ['Simulacion Vieja',data_oldg0.gas['mass'].sum(),data_oldg1.gas['mass'].sum(),'',''],
                    })
data.style.set_properties(**{'text-align': 'center'})

,Galaxies,,Masa Total [$1x10^{10}$ $M_\odot$],,,Masa Barionica [$1x10^{10}$ $M_\odot$],,,Masa Gas [$1x10^{10}$ $M_\odot$],
0,,Paper,Simulacion Nueva,Simulacion Vieja,Paper,Simulacion Nueva,Simulacion Vieja,Paper,Simulacion Nueva,Simulacion Vieja
1,G0,5.1,4.945213,5.2596087,0.16,0.09583917,0.15998784,0.06,0.03166921,0.05904151
2,G1,20,19.687714,20.703373,0.7,0.5118856,0.7001043,0.2,0.1298404,0.19088715
3,G2,51,51.847923,,1.98,1.5036049,,0.45,0.30531904,
4,G3,116,116.65092,,6.22,5.01604,,1.24,0.7073581,

In [ ]:
df = pd.read_excel('datos/2020_trim_1_Entidad_Aguascalientes.xls', header=[5, 6, 7], skipfooter=16, index_col=[0, 1, 2, 3])

In [ ]:
"Fuente": {'Masa Total': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"], 
                                'Masa Barionica': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"], 
                                'Masa del Gas': ["Valor Paper", "Simulacion Nueva", "Simulacion Vieja"]},

                   "Valores": {'G0': ['5.1 $\cdot 10^{10}$',masa_total_new,masa_total_old, '$1.6 \cdot 10^{9}$',masa_barionica_total_new,masa_barionica_total_old,'6.08 $\cdot 10^{8}$', data_new.gas['mass'].sum(), data_old.gas['mass'].sum()],
                               'G1': ['$2 \cdot 10^{11}$ ',masa_total_new,masa_total_old,'$7 \cdot 10^{9}$',masa_barionica_total_new,masa_barionica_total_old, ' 2.03 $\cdot 10^{9}$ ',data_new.gas['mass'].sum(), data_old.gas['mass'].sum()],
                               'G2': ['5.1 $\cdot 10^{11}$',masa_total_new,'NaN','$1.98 \cdot 10^{10}$',masa_barionica_total_new,'NaN','4.55 $\cdot 10^{9}$',data_new.gas['mass'].sum(), 'NaN'],
                               'G3': ['1.16 $\cdot 10^{12}$',masa_total_new,'NaN','$6.22 \cdot 10^{10}$',masa_barionica_total_new,'NaN','1.24 $\cdot 10^{10}$',data_new.gas['mass'].sum(), 'NaN']}

In [45]:
help(pd.DataFrame.headers)

AttributeError: type object 'DataFrame' has no attribute 'headers'